@using WebApplication4.Models
@model  Employee


<h3>Dp you want to delete this Employee Details?</h3>


<div>
    Employee Id  :  @Model.EmployeeId  <br/>
    Employee Name  :  @Model.EmployeeName  <br/>
    Employee Job  :  @Model.Job<br/>
    Employee Salary  :  @Model.Salary<br/>
    Employee Dept  :  @Model.Deptno<br/>
</div>

<form  action="/Employee/Delete" method="post">
     <input name="id" type="hidden" value="@Model.EmployeeId" />
     <input type="submit" value="Delete" />
</form>

<hr/>
 <a href="/Employee/Index">Back to List</a>