@using WebApplication4.Models
@model  Employee


<h3>Employee Details</h3>


<div>
    Employee Id  :  @Model.EmployeeId  <br/>
    Employee Name  :  @Model.EmployeeName  <br/>
    Employee Job  :  @Model.Job<br/>
    Employee Salary :  @Model.Salary<br/>
    Employee Dept  :  @Model.Deptno<br/>
</div>

<hr/>
 <a href="/Employee/Index">Back to List</a>