@using WebApplication4.Models
@model  Employee


<h3>Edit Employee Details</h3>

 
<form  action="/Employee/Edit" method="post">
    <label>Employee Id  : </label>
    <input name="EmployeeId" type="text" readonly value="@Model.EmployeeId" />
    <br/><br/>

    <label>Employee Name  : </label>
    <input name="EmployeeName" type="text" value="@Model.EmployeeName" />
    <br/><br/>

     <label>Employee Job  : </label>
    <input name="Job" type="text" value="@Model.Job" />
    <br/><br/>

    <label>Employee Salary  : </label>
    <input name="Salary" type="text" value="@Model.Salary" />
    <br/><br/>

    <label>Employee Dept  : </label>
    <input name="Deptno" type="text" value="@Model.Deptno" />
    <br/><br/>

    <input type="submit" value="Edit" />
</form>


@{
    if(ViewBag.RequestType == "POST")
    {
        <h1>@ViewBag.ErrorMessage</h1>
    }
}


<hr/>
 <a href="/Employee/Index">Back to List</a>
